<!-- Trigger/Open The Modal -->
<button id="myBtn">Learn More</button>

<!-- The Modal -->
<div id="myModal" class="monthly-modal">

  <!-- Modal content -->
  <div class="monthly-modal-content">
    <span class="monthly-close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>